.steps-content {
	margin-top: 16px;
	border: 1px dashed #e9e9e9;
	border-radius: 2px;
	background-color: #fafafa;
	min-height: 200px;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.steps-action {
	margin-top: 24px;
}

.Step1,
.Step2 {
	width: 40%;
	margin: auto
}

.ant-form label {
	font-weight: 600;
}

.total-dishes {
	text-align: right;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
}

.content {
	display: flex;
	width: 80%;
	margin: auto;
	justify-content: space-around;
	flex-flow: column nowrap;
}

.content>div {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.left-content,
.right-content {
	width: 45%;
}

.left-content {
	text-align: right;

}

.right-content {
	text-align: left;
}

@media (max-width:481px) {
	.content>div {
		width: 90%;

	}

	.left-content,
	.right-content {
		width: 100%;
		text-align: center;
	}

}